@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Marko Pavlović<br />
    Varaždin<br />
    <abbr title="Phone">Telefon:</abbr>
    425.555.0100<br />
    <strong>Email adresa:</strong>   <a href="mailto:marpavlov@foi.hr">marpavlov@foi.hr</a><br />
</address>

<a href='javascript:history.go(-1)'>Povratak</a>