<h2>Pomoć</h2>
<h3>Kako koristiti aplikaciju - Agencija za oglašavanje</h3>

<p>
    S lijeve strane ispod podataka o Vašem korisničkom računu nalaze se popisi koji su vezani isključivo za Vaš korisnički račun,
    prikazani su zelenim gumbima. Odabirom opcije "Moji oglasi" prikazuje se popis svih oglasa koje ste unijeli u sustav.
    Imate mogućnost uređivanja ili brisanja tih oglasa te unos novoga. Odaberete li opciju "Moje rezervacije" prikazat će Vam se
    sve rezervacije u koje ste bili uključeni, odnosno gdje su Vas odabrali vlasnici automobila. Ovdje možete vidjeti račun rezervacije.
    Nema mogućnosti brisanja rezervacija.<br /><br />S desne strane nalaze se popisi svih korisnika, vlasnika automobila i oglasa u sustavu,
    prikazani su svijetlo-plavim gumbima. Ovdje možete vidjeti detalje o određenim vozilima i vlasnicima, kao i o drugim agencijama za
    oglašavanje i oglasima.<br /><br />Ukoliko imate dodatnih pitanja, javite se administratoru na stranici za kontakt.
</p>

<div>
    <input class="btn btn-link" value="Povratak na naslovnicu" readonly onclick="@("window.location.href='" + @Url.Action("LoggedIn", "OglasivackaAgencijas") + "'");" />
</div>