<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/57d236cf-854f-46ac-bef4-0f34f073433f/resourcegroups/thirdgroup/providers/Microsoft.Web/sites/CarCommercial</ResourceId>
    <ResourceGroup>thirdgroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carcommercial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carcommercial.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarCommercial</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarCommercial</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CarCommercialContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carcommercial4dbserver.database.windows.net,1433;Initial Catalog=CarCommercial4_db;User ID=testuser@carcommercial4dbserver;Password=e+3$.aT2:p9%5GTD" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarCommercial.Models.CarCommercialContext, CarCommercial" MigrationConfiguration="CarCommercial.Migrations.Configuration, CarCommercial" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CarCommercialContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carcommercial4dbserver.database.windows.net,1433;Initial Catalog=CarCommercial4_db;User ID=testuser@carcommercial4dbserver;Password=e+3$.aT2:p9%5GTD</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>